html {
    background-color: rgb(245, 237, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    background-color: rgb(252, 249, 243);
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    border: 3px solid black;
}